@font-face {
  font-family: 'AppleGaramond-Light';
  src: url('./fonts/AppleGaramond-Light.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Medium.ttf');
}
body {
    font-family: 'Inter';
    text-align: center;
    background-color: #2D3641;
    margin: 0;
    padding: 0;
}
#top_header {
  font-family: 'AppleGaramond-Light';
  position: fixed;
  font-size: 40px;
  top: 0;
  left: 0;
  width: 100%;
  padding: none;
  border: none;
  background-color: #4C545E;
}
/* Welcome back astronaut*/
h1 {
    font-size: 40px;
    font-weight: lighter;
    padding-left: 25px;
    padding-top: none;
    padding-right: 0px;
    color: #FFFFFF;
    text-align: left;
}
/*What will you do today?*/
h2 {
  font-weight: lighter;
  padding-top: none;
  padding-left: 30px;
  color: #ffffff58;
  font-size: 40px;
  text-align: left;
}
#mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px;
  gap: 20px;
}
#month_display {
  display: flex;
  align-items:flex-end;
  gap: 400px;
}
/* Month header */
h3 {
    padding-top: 200px;
    padding-left: 205px;
    font-size: 60px;
    text-align: left;
    color: #FFFFFF;
}

#calendar {
  background-color: #909090;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  padding-left: 25px;
  padding-top: 25px;
  margin-left: 50px;
  margin-top: -20px;
  cursor: default;
  width: 700px;
  height: 530px;
  border-radius: 25px;
  
}
.day-square {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #D9D9D9;
}
.day-square:hover {
  color:#909090
}
#addTask {
  width: 100px;
  height: 50px;
  border-radius: 20px;
}
/* Add habit*/
#habits input[type="text"]{
  font-family: 'AppleGaramond-Light';
  font-style: italic;
  font-size: 15px;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
}
h4 {
  font-family: 'Inter';
  font-size: 30px;
  color: #ffffff;
}
h5 {
  color: white;
  font-size: 40px;
}
#missionListContainer {
  background-color: #5C6C6C;
  border-radius: 20px;
  width: 25%; 
  padding: 10px;
  right: 100px; 
  top: 200px;
}

#missionList {
  list-style: none;
  padding: 0;
  margin: 0;
}
#taskList li {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.icon {
  margin-right: 10px;
}

.add-task {
  color: #b3b3b3;
  font-style: italic;
  cursor: text;
  outline: none;
}

.add-task:focus {
  color: white;
  font-style: normal;
}

#taskList li input {
  margin-left: 10px;
  font-size: 18px;
  padding: 5px;
}
.completed .task-text {
  text-decoration: line-through;
  color: gray;
}
/* Display drop-down menu */
.disply {
  width: 138px;
  height: 119px;
  background-color: #A5B8D0;
  border-radius: 20px;
  
    /* Align to the bottom */
}
.dropdown {
  
  top: 20px;  /* This will move the element down */
  width: 138px;
  height: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-transform: calc(10);
  background-color: #708DB2;
  border-radius: 20px;  /* Center horizontally */
     /* Align to the bottom */
}
.img{
  color:black;
  position: relative;
  top: 10px;
}
.wd{
  
  color:#334359;
  width:138px;
  height: 32px;
  text-align: center;
  padding-top: -300px;
  font-size: 30px;

}
p {
  font-size: 25px;
  height: 10px;
  margin-top: -5px;
  padding-top: 10px;
  text-align: center;
}

